#device-panel {
  flex: 1;
  background-color: #e6e2e3;
  opacity: 0.95;
}

#device-panel .device-container .interactive-indicator {
  border-color: #bcbec0;
  pointer-events: none;
}

#device-panel
  .device-container
  .device-layout.connected
  .interactive-indicator {
  border-color: #3a84e9;
  cursor: pointer;
  pointer-events: auto;
}
