#device-list {
  background-color: #f4f0f1;
  text-align: right;
  overflow-y: overlay;
  position: relative;
  z-index: 1000;
  max-height: calc(100vh - 30px);
  transition-property: flex;
  transition-duration: 100ms;
  overflow-x: hidden;
}

#device-list #no-devices {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

#device-list > .constant-width-wrap {
  min-width: 230px;
  height: 100%;
  position: relative;
}

.device-list-item {
  width: 220px;
  position: relative;
  display: inline-block;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 4px;
  margin-top: 10px;
}

.device-list-item:last-of-type {
  border-bottom: none;
}

.device-list-item .active {
  border-color: #3a84e9 !important;
}

.device-list-item.active h2,
.device-list-item.active p {
  color: #3a84e9;
}

.device-list-item h2 {
  color: #272727;
  font-size: 0.9em;
  height: 16px;
  margin-bottom: 2px;
}

.device-list-item .heading-line {
  display: flex;
  flex-direction: row;
  height: 20px;
}

.device-list-item .heading-line h2 {
  flex: 1 0 0;
  overflow: hidden;
}

.device-list-item .heading-line .heading-line-controls {
  flex: 0 0 44px;
  vertical-align: top;
  margin-top: -6px;
  display: none;
}

.device-list-item:hover .heading-line .heading-line-controls {
  display: inline-block !important;
}

.device-list-item .heading-line .heading-line-controls > * {
  display: inline-block;
  margin-left: 4px;
}

.device-list-item .heading-line .heading-line-controls .close-button {
  color: #4f4f4f;
}

.device-list-item .heading-line .heading-line-controls .close-button:hover {
  color: black;
  opacity: 0.8;
}

.device-list-item .heading-line > * {
  display: inline-block;
}

.device-list-item p {
  color: #808080;
}

.device-list-item .connection-status {
  color: #808080;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 16px;
  line-height: 14px;
  margin-top: -1px;
}

.device-list-item .connected {
  background-color: #61c355;
  border: solid 1px #52a43b;
}

.device-list-item .disconnected {
  background-color: #ed685e;
  border: solid 1px #d14e40;
}

.device-list-item .device-icon-container {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.device-list-item .device-list-item-label {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 48px);
}

.device-list-item .device-list-item-label .ios-select {
  margin-bottom: 5px;
}

.device-list-item .connection-color {
  border-radius: 100px;
  width: 8px;
  height: 8px;
  margin-top: 1px;
  position: absolute;
}

.device-list-item .id {
  font-size: 0.7em;
  font-weight: normal;
  margin-bottom: 6px;
}
