@keyframes blink {
  50.0% {
    background-color: transparent;
  }
}

@keyframes Blink {
  50.0% {
    background-color: transparent;
  }
}

@keyframes Pulse {
  50.0% {
    background-color: transparent;
  }
}

/* positional stuff for the device layout really belongs in a parent file */
.device-layout {
  margin-left: 50%;
  position: relative;
  top: 50%;
  aspect-ratio: var(--r);
  transform: translate(-50%, -50%);
  width: min(90%, min(calc(100vh - 32px), calc(100vh - 32px) * (var(--r))));
  border: solid 1px #bcbec0;
  max-height: 90%;
}

.device-layout.connected {
  border: solid 1px #3a84e9;
}

.device-layout .input-container .input-wrapper .noninteractive {
  border-color: #bcbec0;
}

.device-layout .device-root {
  height: 100%;
}

.device-layout .input-grid {
  position: absolute !important;
}

.device-layout .input-container {
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
}

.device-layout .pad {
  position: absolute;
  border: 1px solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
}

.device-layout .input-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.device-layout .hoverable:hover {
  filter: sepia(0.1);
}

.device-layout .hoverable:active:hover {
  filter: sepia(0.2);
}

.device-layout .knob {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.device-layout .knob .inner {
  border-width: 1px;
  border-style: solid;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  position: absolute;
  transition: bottom 0.1s linear;
}

.device-layout .knob .outer {
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
}

.device-layout .knob .inner .grip {
  position: absolute;
  width: 5%;
  height: 30%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #bcbec0;
}

.device-layout.connected .knob .inner .grip {
  background: #3a84e9;
}

.device-layout .octave {
  height: 100%;
  display: inline-block;
  position: relative;
  display: flex;
}

.device-layout .switch {
  position: relative;
  border: 1px solid;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.device-layout .switch .inner {
  border: 1px solid;
  position: absolute;
  transition: bottom 0.1s linear;
}

.device-layout .wheel {
  position: relative;
  border: 1px solid;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device-layout .wheel .bounding-box {
  position: absolute;
  display: flex;
}

.device-layout .wheel .bounding-box .inner {
  display: flex;
  transition-duration: 50ms;
  transition-property: transform;
  border: 1px solid;
  position: absolute;
}

.device-layout .xy {
  position: relative;
  border: 1px solid;
}

.device-layout .xy .inner {
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
  background-color: #e6e2e3;
}

.device-layout .svg-wrapper {
  text-align: center;
}

.device-layout svg {
  max-width: 50%;
  padding: 40px;
  max-height: 90%;
}
