#history-drawer {
  background-color: #f4f0f1;
  z-index: 1000;
  transition-property: flex;
  transition-duration: 100ms;
  overflow-x: hidden;
}

#history-drawer .table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

#history-drawer .history-list {
  width: calc(100% - 12px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#history-drawer .history-list h6 {
  flex: 0 0 24px;
  line-height: 24px;
}

#history-drawer .history-list .table {
  background-color: white;
  border: 1px solid #dbd4d1;
  flex: 1 0 0;
  margin-bottom: 8px;
  overflow-y: scroll;
  height: 100%;
}

.history-list table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: #2e2e2e;
}

.history-list .table * {
  font-family: arial;
  font-weight: normal;
  font-size: 0.91em;
}

.history-list table th {
  border-right: 1px solid #dbd4d1;
  padding: 4px;
}

.history-list table th:last-of-type {
  border-right: none;
}

.history-list .table thead tr:first-of-type {
  border-bottom: 1px solid #dbd4d1;
}

.history-list .table tr {
  width: 100%;
}

.history-list .table td {
  padding: 0 4px 0 4px;
}
