#history-drawer {
  background-color: #f4f0f1;
  z-index: 1000;
  transition-property: flex;
  transition-duration: 100ms;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

#history-drawer .table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 40px;
  max-height: calc(100% - 108px);
  margin-bottom: 8px;
}

#history-drawer > div {
  width: calc(100% - 16px);
  height: calc(100% - 12px);
}

#history-drawer .history-list {
  width: 100%;
  height: 100%;
}

#history-drawer .history-list .top {
  flex: 0 0 24px;
  height: 24px;
}

#history-drawer .history-list .top * {
  line-height: 24px;
  display: inline-block;
}

#history-drawer .history-list .top .clear {
  color: #3a84e9;
  float: right;
  cursor: point;
  text-decoration: underline;
  font-size: 0.65em;
  cursor: pointer;
}

#history-drawer .history-list .table {
  background-color: white;
  border: 1px solid #dbd4d1;
  height: calc(100% - 24px);
}

.history-list table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  color: #2e2e2e;
  height: 100%;
  display: block;
}
table thead {
  height: 20px;
  width: 100%;
  display: block;
}

table tbody {
  overflow-x: overlay;
  width: 100%;
  display: block;
  overflow-y: overlay;
  height: calc(100% - 20px);
}

.history-list .table * {
  font-family: arial;
  font-weight: normal;
  font-size: 0.91em;
}

table th {
  padding: 0 4px 0 4px;
  line-height: 20px;
  background-color: white;
}

.history-list table th,
.history-list table td {
  position: relative;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: inline-block;
}

.history-list table th .drag-boundary {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
}

.history-list table th:last-of-type {
  border-right: none;
}

.history-list .table thead tr:first-of-type {
  border-bottom: 1px solid #dbd4d1;
}

.history-list .table tr {
  width: 100%;
  display: block;
}

.history-list .table td {
  padding: 0 4px 0 4px;
  display: inline-block;
}
