#how-to-connect {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

#how-to-connect p {
  margin-bottom: 20px;
  color: #0071bc;
}
